In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("C:\\Users\\aditya\\Downloads\\Residential_Average_Monthly_kWh_and_Bills.csv")

In [4]:

# xtrain_encoded = pd.get_dummies(xtrain)
# poitr=pd.get_dummies(poi)
from sklearn.preprocessing import LabelEncoder

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
df

         Date  Average kWh  Fuel Charge (Cents/kWh)  Average Bill
0    2000 Jan          820                    1.372         54.26
1    2000 Feb          766                    1.372         50.27
2    2000 Mar          707                    1.372         45.91
3    2000 Apr          715                    1.372         46.50
4    2000 May          838                    1.372         61.68
..        ...          ...                      ...           ...
226  2018 Nov          685                    2.895         68.01
227  2018 Dec          663                    2.895         65.67
228  2019 Jan          761                    2.895         76.13
229  2019 Feb          707                    2.895         70.38
230  2019 Mar          658                    2.895         65.13

[231 rows x 4 columns]

In [7]:
le = LabelEncoder()
df['Date'] = le.fit_transform(df['Date'])

In [8]:
model=LinearRegression()

In [9]:
poi=df.iloc[:1,:2]
new_values = ["2020 May",800]  
poi.iloc[0] = new_values
poi

C:\Users\aditya\AppData\Local\Temp\ipykernel_5244\1024387329.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2020 May' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  poi.iloc[0] = new_values

       Date  Average kWh
0  2020 May          800

In [10]:
# 
# poi
le = LabelEncoder()
poi['Date'] = le.fit_transform(poi['Date'])

In [11]:
df.shape

(231, 4)

In [12]:
xtrain=df.iloc[:,:2]
xtrain
ytrain=df.iloc[:,2:]
ytrain

     Fuel Charge (Cents/kWh)  Average Bill
0                      1.372         54.26
1                      1.372         50.27
2                      1.372         45.91
3                      1.372         46.50
4                      1.372         61.68
..                       ...           ...
226                    2.895         68.01
227                    2.895         65.67
228                    2.895         76.13
229                    2.895         70.38
230                    2.895         65.13

[231 rows x 2 columns]

In [13]:
# x=df.iloc[:12,0]

In [14]:
model.fit(xtrain,ytrain)

LinearRegression()

In [15]:
model.predict(poi)

array([[ 2.37826769, 55.85215552]])

In [16]:
# model.predict(poi)